adlfs
azure-core
azure-data-tables
azure-datalake-store
azure-identity
azure-storage-blob
azure-storage-file-datalake
fsspec
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-text-splitters
langsmith
numpy
openai
pandas
pyarrow
python-dotenv
tiktoken
tqdm
